---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import PostHeader from "../../components/Blog/PostHeader.astro";
import PostContent from "../../components/Blog/PostContent.astro";
import '../../styles/globals.scss'
import { posts } from "../../posts/posts";

export async function getStaticPaths() {
    return posts.map((post) => {
        return {
            params: { slug: post.slug },
            props: { post }
        };
    });
}

const { post } = Astro.props
---

<Layout title={`${post.title} - Blog`} description="Digital Marketing Agency">
    <Navbar />
    <main>
        <PostHeader />
        <PostContent />
    </main>
</Layout>