---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/globals.scss'
---

<Layout title="About - PostMedia" description="Digital Marketing Agency">
    <Navbar link="/about" />
    <main>
        <h1>Contact Page</h1>
    </main>
</Layout>