---
import Layout from '../layouts/Layout.astro';
import '../styles/globals.scss'
---

<Layout title="PostMedia - Digital Marketing Agency" description="Digital Marketing Agency">
	<main>
		<h1>Welcome PostMedia</h1>
	</main>
</Layout>