---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/globals.scss'
---

<Layout title="Services - PostMedia" description="Digital Marketing Agency">
    <Navbar link="/services" />
    <main>
        <h1>Services Page</h1>
    </main>
</Layout>