---
import Layout from '../layouts/Layout.astro';
import '../styles/globals.scss'
---

<Layout title="Works - PostMedia" description="Digital Marketing Agency">
    <main>
        <h1>Works Page</h1>
    </main>
</Layout>