---
import blueLogo from "/media/postmedia_blue_logo.svg";

const { link } = Astro.props

const navLinks = [
    {
        name: "Works",
        path: "/works",
    },
    {
        name: "About",
        path: "/about",
    },
    {
        name: "Services",
        path: "/services",
    },
    {
        name: "Blog",
        path: "/blog"
    }
];

const formatActiveLink = (path: string) => {
    if (path === link) {
        return "active";
    }
}

---

<nav class="nav">
    <div class="container">
        <div class="nav__inner">
            <a href="/" class="nav__logo">
                <img src={blueLogo} alt="logo" />
            </a>

            <ul class="nav__list">
                {
                navLinks.map((navLink) => {
                return (
                <li class="nav__item">
                    <a href={navLink.path} class={`nav__link ${formatActiveLink(navLink.path)}`}>{navLink.name}</a>
                </li>
                )
                })
                }
            </ul>

            <a href="/contact" class="nav__cta">
                <span>Contact</span>
                <span>
                    <svg class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all duration-300 ease-in-out group-hover:translate-x-[50px] group-hover:translate-y-[-50px]"
                        width="8" height="8" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.57072 0.0861157L2.52097 0.0810699L2.50943 1.11517L6.80878 1.11738L0.321655 7.6045L1.05233 8.33518L7.5397 1.84781L7.54413 6.15052L8.57577 6.13512L8.57072 0.0861157Z"
                            fill="#ffffff" stroke-width="0.2px" stroke="#ffffff"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</nav>

<style lang="scss">
    .nav {
        &__inner {
            height: 10rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__logo {
            img {
                width: 18rem;
            }
        }

        &__list {
            display: flex;
            align-items: center;
        }

        &__item {
            &:not(:last-child) {
                margin-right: 5rem;
            }
        }

        &__link {
            color: var(--blue-primary-color);
            font-size: 1.6rem;
            font-weight: 500;
            position: relative;
            transition: all .5s ease;

            &:hover {
                opacity: .6;
            }

            &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: var(--blue-primary-color);
                bottom: 0;
                left: 0;
                display: none;
            }

            &.active {
                &::before {
                    display: block;
                }
            }
        }

        &__cta {
            display: flex;
            align-items: center;

            span:first-child {
                text-transform: uppercase;
                color: var(--blue-primary-color);
                border: 1.5px solid var(--blue-primary-color);
                padding: .3rem 1.2rem;
                letter-spacing: 2px;
                font-size: 1.3rem;
                border-radius: 5rem;
                font-weight: 500;
                margin-right: 5px;
                transition: all .5s cubic-bezier(.4, 0, .2, 1);

                &:hover {
                    background-color: var(--blue-primary-color);
                    color: var(--white-color);
                }
            }

            span:last-child {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background-color: var(--blue-primary-color);
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                transition: all .5s cubic-bezier(.4, 0, .2, 1);
            }

            svg {
                transition: all .5s cubic-bezier(.4, 0, .2, 1);
            }

            &:hover {
                svg {
                    transform: translate3d(15px, -15px, 0);
                }

                span:last-child {
                    opacity: 0;
                }
            }
        }
    }
</style>