<header>
    <div class="container">
        <h1>Articles</h1>
        <p>News, views and general insights about brands, words and the web.</p>
    </div>
</header>

<style>
    header {
        padding: 6rem 0;
        color: var(--black-color);
    }

    h1 {
        font-size: 13rem;
        line-height: .9;
        margin-bottom: 2rem;
        font-weight: 400;
        letter-spacing: -5px;
    }
</style>