---
import blogImg from "/media/blog_1.webp";
---

<section class="post">
    <div class="container">
        <div class="post__img">
            <img src={blogImg} alt="blog" />
        </div>

        <div class="post__container">
            <h2>It's a cost-effective way to add value</h2>

            <p>You don't need big budgets for blogging. All you need are a handful of big ideas and somewhere you can
                talk about them. And because all you're really paying for is a team member's time, a blog can be a great
                way to easily add value to your marketing strategy.</p>

            <p>But it's not just your business you could be adding value to. If a prospect is sizing you up against a
                competitor, then using your blog to add value to your own products and services is a great way to stand
                out. Think about it: your customers don't only just get your product; they gain access to a whole host
                of free content that will help them get the best out of what you're selling. And at a time when everyone
                wants more for less, it's things like this that can help you get ahead.</p>

            <h2>
                You can create a stronger brand image (and increase your credibility)
            </h2>

            <p>
                Our social feeds are now peppered with sponsored ads. Even when we don't see that #ad hashtag in the
                corner of an Instagram Story, at a time when influencer marketing is everywhere, sometimes we can't help
                thinking we're being sold to. Your blog is a place where you can really showcase your personality and
                build an authentic brand story.
            </p>

            <p>
                Unlike social posts (which can vanish from feeds after 24 hours) your blog is a library of content that
                stays live for as long as you want it to. And it's somewhere you can add posts that will gradually build
                your credibility and position your business as an industry leader. Yes you can add CTAs and use your
                blog to help drive sales and enquiries, but treat it more as a tool for starting conversations, creating
                communities, and showcasing your genuine self. Because when it comes down to it, there's no better place
                to do that than your most valuable asset: your website.
            </p>

            <h2>
                You can incorporate more keywords into your site (and, in turn, improve SEO)
            </h2>

            <p>
                Blogs have historically been used to aid SEO. And although most businesses rely heavily on paid ads for
                driving traffic to their site, SEO isn't dead. In fact, if a monthly blog post featuring all those great
                industry-focused keywords that Google wants to hear helps you climb the SERP, then as far as we're
                concerned, developing a basic blog strategy is a quick win.
            </p>

            <p>
                Plus, it's important to remember that while paid ads appear at the top of the page, they aren't always
                what users want to click on. Sure, Google has switched up its UI so that paid ads don't stick out like a
                sore thumb as much as they used to, but it's still clear which businesses have paid their way to the
                top. A lot of people will still navigate straight past them and start browsing through the organic
                results instead.
            </p>
        </div>
    </div>
</section>

<style lang="scss">
    .post {
        &__container {
            max-width: 90rem;
            margin: 0 auto;
        }

        &__img {
            border-radius: 3rem;
            overflow: hidden;
            height: 60rem;
            margin-bottom: 5rem;

            img {
                object-fit: cover;
            }
        }

        h2 {
            margin: 4rem 0;
            font-size: 5rem;
            font-weight: 500;
            letter-spacing: -2px;
            line-height: 1.1;
        }

        p {
            margin-bottom: 2rem;
        }
    }
</style>